In [1]:
import pandas as pd

In [2]:
# df = pd.read_csv("SMSSpamCollection", sep="\t", names = ['label','Text'])
# df.head()

In [3]:
df = pd.read_csv("train.csv")
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [4]:
df.shape

(20800, 5)

In [5]:
df.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [6]:
df["author"].isnull().sum()/len(df['author']) *100

9.408653846153845

In [7]:
df.dropna(inplace=True)

In [8]:
df.shape

(18285, 5)

In [9]:
x = df.drop('label', axis=1)
x.shape

(18285, 4)

In [10]:
y = df['label']
y.shape

(18285,)

In [11]:
msg = x.copy()

In [12]:
msg.reset_index(inplace=True)

In [13]:
msg.head()

,index,id,title,author,text
0,0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...
1,1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...
2,2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ..."
3,3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...
4,4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...

In [14]:
msg.shape

(18285, 5)

In [15]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import re

In [16]:
nltk.download('stopwords')
stopwords_ = stopwords.words('english')
len(stopwords_)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ShubhamM3\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

179

In [17]:
ps = PorterStemmer()
lt = WordNetLemmatizer()

In [18]:
corpus = []
for i in range (0,len(msg)):
    data = re.sub('a-zA-Z0-9',' ', msg['title'][i])
    data = data.lower()
    data = data.split()
    data = [x for x in data if x not in stopwords_]
    data = [lt.lemmatize(x) for x in data] 
    data = " ".join(data)
    corpus.append(data)
len(corpus)

18285

In [19]:
cv = CountVectorizer()
x = cv.fit_transform(corpus).toarray()
len(x)

18285

In [20]:
y = pd.get_dummies(y)
y = y.iloc[:,1].values
len(y)

18285

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [22]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=10)

In [23]:
x_train.shape, y_train.shape

((12799, 19259), (12799,))

In [24]:
y_train.shape, y_test.shape

((12799,), (5486,))

In [25]:
rc = RandomForestClassifier()
rc.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [26]:
y_pred = rc.predict(x_test)
y_pred

array([0, 0, 1, ..., 1, 0, 0], dtype=uint8)

In [27]:
print("Accuracy Score : ",accuracy_score(y_test,y_pred))
print("Confusion Matrix \n: ",confusion_matrix(y_test,y_pred))
print("Classification Report \n: ",classification_report(y_test,y_pred))

Accuracy Score :  0.9232592052497266
Confusion Matrix
:  [[2783  317]
 [ 104 2282]]
Classification Report
:                precision    recall  f1-score   support

           0       0.96      0.90      0.93      3100
           1       0.88      0.96      0.92      2386

    accuracy                           0.92      5486
   macro avg       0.92      0.93      0.92      5486
weighted avg       0.93      0.92      0.92      5486

In [29]:
#################################################
#############Stemming Output#####################

Accuracy Score :  0.9279985417426175
Confusion Matrix 
:  [[2822  278]
 [ 117 2269]]
Classification Report 
:                precision    recall  f1-score   support

           0       0.96      0.91      0.93      3100
           1       0.89      0.95      0.92      2386

    accuracy                           0.93      5486
   macro avg       0.93      0.93      0.93      5486
weighted avg       0.93      0.93      0.93      5486

################################################################

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 14)